* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY PAGINA BODY PAGINA BODY PAGINA BODY PAGINA BODY PAGINA BODY PAGINA BODY PAGINA BODY PAGINA */
body {
    background: url('../recursos/fondoryis.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Bodoni MT;
}

/* SECCION ENCABEZADO SECCION ENCABEZADO SECCION ENCABEZADO SECCION ENCABEZADO SECCION ENCABEZADO */

header {
    background-color: rgba(25, 0, 58, 0.8);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #E8B343;
    width: 100%;
}

header a {
    text-align: center;
    margin-bottom: 10px;
}

header img.logo {
    width: 450px;
    transition: transform 0.5s ease;
}

header img.logo:hover {
    transform: scale(1.2);
}

/*  CAJA FORMULARIO CAJA FORMULARIO CAJA FORMULARIO CAJA FORMULARIO CAJA FORMULARIO CAJA FORMULARIO */

.formulario-registro {
    width: 420px; /* ancho */
    height: auto; /* alto */
    background: #1b003a; /* Fondo del formulario */
    border: 1px solid #C9678E; /* bordes */
    padding: 30px;
    margin: auto;
    margin-top: 150px; /* margen superior */
    margin-bottom: 150px; /* margen inferior */
    border-radius: 30px; /* Cambia el borde a más redondeado */
    color: white;
    box-shadow: 22px 53px 77px #10002b;
    position: relative;
}

.formulario-registro .formulario-img {
    display: block;
    margin: 0 auto 10px auto; 
    width: 200px; 
    height: auto;           
}

/*   SECCION LABELS/INPUTS SECCION LABELS/INPUTS SECCION LABELS/INPUTS SECCION LABELS/INPUTS */

.registrolabels {
    width: 100%;    
    background: #572649;
    padding: 10px;
    border-radius: 10px; /* Cambia el borde a más redondeado */
    margin-bottom: 16px;
    border: 1px solid #E8B343;  
    font-family: 'Bodoni MT';
    font-size: 18px;
    color: #E8B343;

}
.registroerror {
    width: 100%;
    background: darkred;
    border-radius: 10px; /* Cambia el borde a más redondeado */
    margin-bottom: 25px;
    border: 1px solid red;  
    font-family: 'Bodoni MT';
    font-size: 20px;
    color: red;
    
}

.formulario-registro .registrolabels:hover {
    background-color: #79305a;
    transform: scale(1.04);
}

.formulario-registro p {
    height: 45px;
    text-align: center;
    font-size: 15px;
    color: #E8B343;
    line-height: 20px;
}

.formulario-registro b {
    height: 5px;
    text-align: center;
    margin-left: 20px;
    font-size: 28px;
    color: #E8B343;
    line-height: 60px;
}

.formulario-registro a {
    color: #C9678E;
    text-decoration: none;
}

.formulario-registro h1 {
    height: 50px;
    text-align: center;
    font-size: 40px;
    line-height: 20px;
    color: #962F5A;
}

.formulario-registro a:hover {
    color: #C9678E;
    text-decoration: underline;
}

/*  SECCION BOTONES SECCION BOTONES SECCION BOTONES SECCION BOTONES SECCION BOTONES SECCION BOTONES  */

.formulario-registro .botones {
    width: 100%;
    background: #962F5A;
    border: none;
    padding: 12px;
    color: #E8B343;
    margin: 15px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px; /* Cambia el borde a más redondeado */
    transition: background-color 0.3s, transform 0.3s;
}

.formulario-registro .botones:hover {
    background-color: #C9678E;
    transform: scale(1.07);
}


/* PIE DE PAGINA PIE DE PAGINA PIE DE PAGINA PIE DE PAGINA PIE DE PAGINA PIE DE PAGINA */
footer {
    background-color: #10002b;
    border-top: 3px solid #E8B343; /* Ajusta el grosor del borde según sea necesario */
    color: #E8B343;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 20px; /* Agregado para mayor separación interna */
}

footer img {
    width: 55px; 
    height: auto; 
    margin: 0 15px;
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.2);
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* COLORES
VIOLETA OSCURO: #962F5A
DORADO: #E8B343
VIOLETA CLARO: #C9678E
ROSA OSCURO (HOVER INPUTS): #79305a
VIOLETA MUY OSCURO (FONDO FORM): #1b003a